@{

    Layout = "~/Views/Shared/TrangTrong.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Frontend/assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="~/Frontend/assets/css/style2.css">

    <div class="left">
        <div class="title"><h2>Create account</h2></div>
        @*        <div class="main-content">*@
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            @*<div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>*@
                            <div class="card-body">
                                <form method="post" action="/Account/RegisterPost">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="inputName" name="name" type="text" placeholder="Enter your name" />
                                                <label for="inputName">Họ tên</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" name="phone" id="inputPhoneNumber" type="text" placeholder="Enter your phone number" />
                                                <label for="inputPhoneNumber">Số điện thoại</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputEmail" name="email" type="email" placeholder="name@example.com" />
                                        <label for="inputEmail">Email</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputAddress" name="address" type="text" placeholder="Enter your address" />
                                        <label for="inputAddress">Địa chỉ</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputPassword" name="password" type="password" placeholder="Enter your password" />
                                        <label for="inputPassword">Mật khẩu</label>
                                    </div>
                                    @*<div class="row mb-3">
                                        <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputPassword" type="password" placeholder="Create a password" />
                                        <label for="inputPassword">Password</label>
                                        </div>
                                        </div>
                                        <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
                                        <label for="inputPasswordConfirm">Confirm Password</label>
                                        </div>
                                        </div>
                                        </div>*@
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <input type="submit" class="btn btn-secondary btn-block" value="Create Account">
                                            </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="/Account/Login">Have an account? Go to login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @*        </div>*@


    </div>
